extends ../_component/layout/layout
block awesome-config
    -
        let title = `Roberto Blake Public Speaker`
        let description = `Roberto Blake is a Public Speaker covering the topics of Marketing, Creative Services, Social Media and YouTube.`
block awesome-content
    include ../_component/mixin/link
    .header__wrapper
        h1 Roberto Blake, Keynote Speaker: Marketing &amp; Strategy
        .header__panel
            .header__body--speaker
            .header__footer
                a.button__download(
                    href="/asset/pdf/RobertoBlake-Speaker.pdf",
                    title="DOWNLOAD ROBERTO'S SPEAKER SHEET",
                    download
                ) DOWNLOAD ROBERTO'S SPEAKER SHEET
    .landing__content
        h2 Roberto Blake Keynote Speaker Reel
        .youtube-video-16-by-9
            iframe(
                width="100%" 
                height="100%" 
                src="https://www.youtube.com/embed/14xWRBRtIh8" 
                frameborder="0" 
                allow="autoplay; encrypted-media" 
                allowfullscreen
            )
        h2 WATCH ROBERTO SPEAK ON STAGE
        p Click the thumbnails below to watch featured speaking engagements from Roberto Blake
        ul
            li
                a(href="https://www.youtube.com/watch?v=gfk_Rc7wtbU&index=4&list=PLvUg-IRiErnOz5AfCamIX3JGeCTWNhmND", title="HDL Keynote 2016")
                    img(src="/asset/image/HDL-Keynote-2016.jpg", alt="HDL Keynote 2016")
            li
                a(href="https://www.youtube.com/watch?v=1G8JMFU1h40&list=PLvUg-IRiErnOz5AfCamIX3JGeCTWNhmND&index=2", title="Revolve Keynote 2015")
                    img(src="/asset/image/RevolveKeynote2015.jpg", alt="Revolve Keynote 2015")
            li
                a(href="https://www.youtube.com/watch?v=T-Ou5p5krEc&index=3&list=PLvUg-IRiErnOz5AfCamIX3JGeCTWNhmND", title="PepCon 2015 Keynote")
                    img(src="/asset/image/PepCon2015-Keynote.jpg", alt="PepCon 2015 Keynote")
        h2 Book Roberto Blake to Speak at Your Event
        p As a subject matter expert on visual branding, and video martketing Roberto provides tactical advice, while educating and motivating audiences to take action. As a Creative Entrepreneur, he understands the challenges balancing artistic vision with practicality and can empathize with creatives and the busienss owners who hire them. Roberto is known for educating while creating enthusiasm through his popular YouTube Channel. With regard to social media and video marketing, Roberto's online presence and influence speaks for itself; reaching an audience of over #[strong 275,000]. Roberto is also YouTuber Certified in Content Strategy and Audience Growth.
        p
            a(href="https://www.youtube.com/watch?v=o7u2OOC2O2A", title="Social Media Marketing World 2017 - Robeto Blake")
                img(src="/asset/image/robertoblake_smmw17.jpg", alt="Social Media Marketing World 2017 - Robeto Blake")
        hr
        h2 YOUTUBE: Video Production, Audience Growth, Biz Dev
        p Roberto is a YouTube Certified Expert in the categories of Content Strategy, Content Ownership and Audience Growth. Since July of 2013 I've produced weekly content on YouTube as a solo creator. By building tactical evergreen content, it was possible to grow an audience of over 275,000 subscribers, with a diverse audience across the creative community. With a focus on Video SEO, Practical Video Production, Audience Growth and Engagement, I approach YouTube as business owner and educator. My speaking sessions help creators and brands use YouTube as a platform for achieving their goals and gain the attention of their ideal audience.
        p
            a(href="https://www.youtube.com/watch?v=o7u2OOC2O2A", target="_blank", title="SESSION SAMPLE: SOCIAL MEDIA MARKETING WORLD 2017") SESSION SAMPLE: SOCIAL MEDIA MARKETING WORLD 2017
        ul
            li 5 Keys to Dominating YouTube Video SEO and Rankings
            li Monetizing Your Message: The Business Side of YouTube
            li Advanced Tactics for YouTube Audience Growth and Engagement
            li YouTube Analytics and Dashboard Breakdown
            li Step by Step YouTube Production and Promotion for Businesses and Brands
        p
            a.book-me.button__small(href="#", title="Book This Speaker") Book This Speaker