extends ../_component/layout/layout
block awesome-config
    -
        let title = `Roberto Blake Public Speaker`
        let description = `Roberto Blake is a Public Speaker covering the topics of Marketing, Creative Services, Social Media and YouTube.`
block awesome-content
    include ../_component/mixin/link
    .header__wrapper
        h1 Roberto Blake, Keynote Speaker: Marketing &amp; Strategy
        .header__panel
            .header__body--speaker
            .header__footer
                a.button__download(
                    href="/asset/pdf/RobertoBlake-Speaker.pdf",
                    title="DOWNLOAD ROBERTO'S SPEAKER SHEET",
                    download
                ) DOWNLOAD ROBERTO'S SPEAKER SHEET
    .landing__content
        h2 Roberto Blake Keynote Speaker Reel
        .youtube-video-16-by-9
            iframe(
                width="100%" 
                height="100%" 
                data-src="https://www.youtube.com/embed/14xWRBRtIh8" 
                frameborder="0" 
                allow="autoplay; encrypted-media" 
                allowfullscreen
            )
        h2 WATCH ROBERTO SPEAK ON STAGE
        p Click the thumbnails below to watch featured speaking engagements from Roberto Blake
        ul
            li
                a(href="https://www.youtube.com/watch?v=gfk_Rc7wtbU&index=4&list=PLvUg-IRiErnOz5AfCamIX3JGeCTWNhmND", title="HDL Keynote 2016")
                    img(src="/asset/image/HDL-Keynote-2016.jpg", alt="HDL Keynote 2016")
            li
                a(href="https://www.youtube.com/watch?v=1G8JMFU1h40&list=PLvUg-IRiErnOz5AfCamIX3JGeCTWNhmND&index=2", title="Revolve Keynote 2015")
                    img(src="/asset/image/RevolveKeynote2015.jpg", alt="Revolve Keynote 2015")
            li
                a(href="https://www.youtube.com/watch?v=T-Ou5p5krEc&index=3&list=PLvUg-IRiErnOz5AfCamIX3JGeCTWNhmND", title="PepCon 2015 Keynote")
                    img(src="/asset/image/PepCon2015-Keynote.jpg", alt="PepCon 2015 Keynote")
        h2 Book Roberto Blake to Speak at Your Event
        p As a subject matter expert on visual branding, and video martketing Roberto provides tactical advice, while educating and motivating audiences to take action. As a Creative Entrepreneur, he understands the challenges balancing artistic vision with practicality and can empathize with creatives and the busienss owners who hire them. Roberto is known for educating while creating enthusiasm through his popular YouTube Channel. With regard to social media and video marketing, Roberto's online presence and influence speaks for itself; reaching an audience of over #[strong 275,000]. Roberto is also YouTuber Certified in Content Strategy and Audience Growth.
        p
            a(href="https://www.youtube.com/watch?v=o7u2OOC2O2A", title="Social Media Marketing World 2017 - Robeto Blake")
                img(src="/asset/image/robertoblake_smmw17.jpg", alt="Social Media Marketing World 2017 - Robeto Blake")
        hr
        h2 YOUTUBE: Video Production, Audience Growth, Biz Dev
        p Roberto is a YouTube Certified Expert in the categories of Content Strategy, Content Ownership and Audience Growth. Since July of 2013 I've produced weekly content on YouTube as a solo creator. By building tactical evergreen content, it was possible to grow an audience of over 275,000 subscribers, with a diverse audience across the creative community. With a focus on Video SEO, Practical Video Production, Audience Growth and Engagement, I approach YouTube as business owner and educator. My speaking sessions help creators and brands use YouTube as a platform for achieving their goals and gain the attention of their ideal audience.
        p
            a(href="https://www.youtube.com/watch?v=o7u2OOC2O2A", target="_blank", title="SESSION SAMPLE: SOCIAL MEDIA MARKETING WORLD 2017") SESSION SAMPLE: SOCIAL MEDIA MARKETING WORLD 2017
        ul
            li 5 Keys to Dominating YouTube Video SEO and Rankings
            li Monetizing Your Message: The Business Side of YouTube
            li Advanced Tactics for YouTube Audience Growth and Engagement
            li YouTube Analytics and Dashboard Breakdown
            li Step by Step YouTube Production and Promotion for Businesses and Brands
        p
            a.book-me.button__small(href="#", title="Book This Speaker") Book This Speaker
        hr
        h2 Thought Leadership and Influence
        p Consumers are shifting away from engaging with traditional advertising. This shift has seen a rise in brands leveraging the influence of popular online personalities that can reach their audience. Individuals who have become noted "Thought Leaders" and subject matter experts are valuable to brands who want to tap into their ability to influence consumers. My experience in this arena is both as a Thought Leader who has grown a large community, but also as a subject matter expert who has worked with high profile brands and advocated for them through sponsorship and affiliate marketing opportunities.
        p My speaking sessions can guide content creators and expets on the path to building their credibility, growing a community and working with brands for mutual benefit.
        p
            a(href="https://www.youtube.com/watch?v=KugRFlJ03lc", target="_blank", title="SESSION SAMPLE: BLOGGY CONFERENCE 2016") SESSION SAMPLE: BLOGGY CONFERENCE 2016
        ul
            li Positioning Yourself As A Subject Matter Expert
            li Standing Out In A Saturated Market or Niche
            li Building Your Personal Brand on Passion, Purpose and Practicality
            li 5 Core Lessons in Working with Sponsors and Pitching Brands
            li Growing Loyalty: From Content to Community
        p
            a.book-me.button__small(href="#", title="Book This Speaker") Book This Speaker
        hr
        h2 Marketing and Advertising
        p As a marketing influencer and a designer with a background in advertising, I know firsthand the impact they have on the bottom line of a business. Leveraging new marketing platforms and opportunities is important, but it also means understanding how to use them in the right context. My sessions help audiences demystify social media, video marketing and their other challenges and put them in a position to feel confident in tackling them head on. Below are my primary marketing related sessions but feel free to reach out about other possible topics.
        p
            a(href="https://www.youtube.com/watch?v=LagGoXnZrQg", target="_blank", title="SAMPLE SESSION: SUMMIT LIVE 2017") SAMPLE SESSION: SUMMIT LIVE 2017
        ul
            li Using Influencers to Enhance Your Marketing Campaigns
            li Video Marketing Tactics for Lead Generation and List Growth
            li How to Measure the Effectiveness and ROI of Influencer Marketing
            li Leveraging Live Video for Marketing, Leads and Sales
            li 5 Pillars of Content Marketing that Converts
            li Leveraging Live Video and Webinars for Leads
        p
            a.book-me.button__small(href="#", title="Book This Speaker") Book This Speaker
        hr
        h2 Creative Services and Social Media
        p Many creative professionals feel overwhelmed by Social Media or that it doesn't fit their personality or skills. Some long for the days of "the work speaking for itself". Storytelling is the advantage that creative professionals have regradless of their medium, and social media can help amplify it and target it to gain the attention of the right audience. My sessions are tactical and actionable and will help creatives feel confident in their social media engagement, by creating content that converts. 
        p
            a(href="https://www.youtube.com/watch?v=KJCoG1SDlbk", target="_blank", title="SESSSION SAMPLE: HOW DESIGN LIVE 2016") SESSSION SAMPLE: HOW DESIGN LIVE 2016
        ul
            li Cutting Through the Noise: Social Media for Creatives
            li Brand Building Tactics for Creative Professionals
            li Video Production and Video Editing for Creatives and Entrepreneurs
            li Social Media and Marketing for Introverted Creatives
            li The Creative Advantage: Building Content that Converts
            li Portfolios, Personality, Positioning and Passion: Selling Creative Services
        p
            a.book-me.button__small(href="#", title="Book This Speaker") Book This Speaker
        hr
        h2 Workshops and Demonstrations
        p "Show, don't tell", is a very practical process for education and storytelling. My workshops and demonstrations provide audiences with effective tactics and techniques for accomplishing task without feeling overwhelmed. These resources are supported by Q&A sessions that create unique value for each new audience. 
        ul
            li Quick and Painless Video Editing: Adobe Premiere Pro
            li 5 Minute Photoshop: 9 Quick Tricks and Powerful Techniques
            li Creating and Editing Stunning Videos with Your Smartphone
            li Design on the Go With Adobe Mobile Apps
            li Breaking Down YouTube from A-Z
        p
            a.book-me.button__small(href="#", title="Book This Speaker") Book This Speaker
        hr
        h2 Motivational Speaking
        p Execution is more often than not, only as powerful as the motive and intentions behind it. The majority of people today identify themselves as struggling with balance. Many in the workplace or in an educational environment identify themselves as victims of bullying or harassment. There is a strong desire to feel in control of one's life as well as one's career and sense of purpose. These sessions help educate and empower individuals to take action and build the habits that lead the outcomes they desire most for themselves.
        ul
            li Just Create Awesome: Mindset, Messaging and Monetizing
            li Building Your Personal Brand and Personal Power
            li Valuing Your Vulnerability
            li Cyber Bullying and Social Media Safety
        p
            a.book-me.button__small(href="#", title="Book This Speaker") Book This Speaker
        .side-bar
            h3 Speaking Events
            h4 Upcoming Speaking Events
            ul
                li PODFEST 2018
                li Social Media Marketing World 2018
                li Richmond VA, AMA KEYNOTE March 2018
                li Social media Day Workshop Jacksonville, FL
                li Social Media Day San Diego, CA
                li NameSummit 2018
                li Vidsummit 2018
                li Video Marketing World 2018
            h4 Previous Speaking Events
            ul
                li
                    a(
                        href='http://pepcon.com/speaker/roberto-blake/', 
                        target='_blank'
                    ) PePCon 2015
                li
                    a(
                        href='https://2015.revolveconference.com/speaker/roberto-blake/', 
                        target='_blank'
                    ) REVOLVE Conference 2015
                li Rise Above Tour 2015
                li MoMoCon Photography Panel 2015
                li
                    a(
                        href='https://masteryourmoneysummit.com/main', 
                        target='_blank'
                    ) Master Your Money Summit: Promoting &amp; Monetizing Your YouTube Channel
                li
                    a(
                        href='https://www.behindtheshutter.com/shutterfest-2016-the-lowdown/', 
                        target='_blank'
                    ) ShutterFest 2016: Marketing and Brand Building for Creative Pros
                li
                    ocial Media Marketing World: Event Track Leader/Introduction of Speakers &amp; Panels
                li
                    a(
                        href='http://rulebreakersconference.com/', 
                        target='_blank'
                    ) Rule Breakers Conference: 8 Keys to Thought Leadership and Influence
                li
                    a(
                        href='http://howdesignlive.com/index.php/speakers-2/29-creative-entrepreneur-speakers/91-roberto-blake', 
                    target='_blank'
                ) HOW Design Live 2016: Cutting Through the Noise, Social Media for Creatives
                li MoMoCon 2016: Photography Etiquette
                li Private Event: Disney Channels World Wide
                li
                    a(
                        href='http://bloggyconference.com/people/roberto-blake/', 
                        target='_blank'
                    ) Bloggy Conference 2016: Growing a YouTube Channel in a Noisy World
                li
                    a(
                        href='http://videosuccesssummit.com/#speakers-op', 
                        target='_blank'
                    ) Video Success Summit 2016
                li Social Media Society: How to Get More Exposure for Your YouTube Videos
                li Photoshop LIVE September: Adobe Twitch and YouTube Live Channels
                li International Sales with Soul Summit 2016: Branding Building &amp; Social Media for Entrepreneurs
                li
                    a(
                        href='http://www.giantconf.com/speaker/roberto-blake/', 
                        target='_blank'
                    ) GIANT Conference 2016: Breaking out on YouTube & Building Your Brand
                li
                    a(
                        href='http://www.socialmediaexaminer.com/smssummit/agenda/', 
                        target='_blank'
                    ) Social Media Success Summit 2016: YouTube SEO, What Marketers Need to Know
                li
                    a(
                        href='https://masterclasssaradietschy.creativecloud.adobeevents.com/', 
                        target='_blank'
                    ) Adobe UK Masterclass: Personal Branding
                li Photoshop LIVE October: Adobe Twitch and YouTube Live Channels
                li
                    a(
                        href='http://max.adobe.com', 
                        target='_blank'
                    ) Adobe MAX Workshop: Mobile Video
                li
                    a(
                        href='http://vloggerfair.com', 
                        target='_blank'
                    ) VloggerFair: Workshop Efficient Editing with Premiere Pro
                li Photoshop LIVE Novebmer: Adobe Twitch and YouTube Live Channels
                li Private Event: North Carolina
                li Social Media Society: Video Editing Workshop 
                li
                    a(
                        href='http://summit.live/speakers/',
                        target='_blank'
                    ) Summit Live 2017: YouTube Live Streaming
                li
                    a(
                        href='https://youtu.be/o7u2OOC2O2A', 
                        target='_blank'
                    ) Social Media Marketing World 2017: YouTube Video Production
                li ShutterFest 2017: Personal Branding
                li ClamourCon: YouTube Channel Makeover
                li Creative Pro Week: Video Editing and Photography 
                li MoMoCon 2017: Photography and Model Panel
                li Social Media Society: 360 Video Workshop 
                li VidCon 2017 Meetup and Q&A
                li Social Media Day Jacksonville 2017 
                li StartupGrind NC 2017
                li
                    a(
                        href='https://www.youtube.com/watch?v=3mNNRm1wgdk', 
                        target='_blank'
                    ) NameSummit Digital Branding Conference
                li CVXLIVE 2017: YouTube Video Marketing
                li YouTube Creator Day Atlanta Panel
                li DragonCon Panels: New Media & Podcasting
                li Bloggy Conference: From Blogging to Vlogging
                li Vlogging Success Summit 2017
                li
                    a(
                        href='http://www.contentjam.com/speakers/', 
                        target='_blank'
                    ) Content Jam 2017
                li VidSummit 2017 
                li Creator Advocate, Seattle 2017
                li Teachable Summit
                li Marketing Futurist Summit
                li YouTube Creator Panel, YouTube HQ
                li Private Keynote Event, NJ DEC 2017
                li Vegas Video Creators Meetup 2018

        hr        
        h2 Watch Roberto Speaking at HOW DESIGN LIVE
        p HOW DESIGN LIVE 2016 May | Atlanta 
        p Speaking Session: Cutting Through The Noise, Social Media for Creatives
        .youtube-video-16-by-9
            iframe(
                width="100%" 
                height="100%" 
                data-src="https://www.youtube.com/embed/KJCoG1SDlbk" 
                frameborder="0" 
                allow="autoplay; encrypted-media" 
                allowfullscreen
            )
        

        
        hr
        h2 Watch Roberto Social Media Marketing World
        p Social Media Marketing World 2017 June | San Diego California
        p Speaking Session: YouTube Video Production, From Idea to Execution
        .youtube-video-16-by-9
            iframe(
                width="100%" 
                height="100%" 
                data-src="https://www.youtube.com/embed/o7u2OOC2O2A" 
                frameborder="0" 
                allow="autoplay; encrypted-media" 
                allowfullscreen
            )

        hr
        h2 What People Are Saying About Roberto...
        p 
            em "There are many influencers and experts in the digital space but Roberto Blake truly does stand out from the rest. Roberto is incredibly dedicated to his craft and is persistent in creating relatable and useful content for his followers. Not only is Roberto great at what he does, he is very generous at giving his time sharing insight with his community."
        p
            b Chelsea Krost Co-founder MPulse
        p 
            em "He has a real passion for creative entrepreneurship and empowering others, and the community he’s built around his creative philosophy is a reflection of his commitment to his following."
        p
            b Jared Kleinert-Forbes