extends ../_component/layout/layout
block awesome-config
    -
        let title = `Roberto Blake: Press, Interviews and Features`
        let description = `Roberto Blake has been featured in publications such as Forbes.com, Advanced Photoshop and Photoshop Creative Magazine.`
block awesome-content
    include ../_component/mixin/link
    .header__wrapper
        h1 Roberto Blake: Press, Interviews and Features
        .header__panel
            .header__body--press
    .landing__content
        .content-side
            h2 Highlighted Features
            ul
                li
                    | Forbes -
                    a(href='http://www.forbes.com/sites/markfidelman/2016/09/06/20-must-watch-youtube-channels-that-will-change-your-business/#16c2b02669d9') 20 Must Watch YouTube Channels That Will Change Your Business
                li
                    | Forbes -
                    a(href='http://www.forbes.com/sites/ashleystahl/2017/01/17/7-high-profile-entrepreneurs-tell-us-how-they-got-their-first-job/#6bd3d58f6429') 7 High-Profile Entrepreneurs Tell Us How They Got Their First Job
                li
                    | Forbes -
                    a(href='http://www.forbes.com/sites/under30network/2016/02/03/5-tips-for-millennials-trying-to-break-the-age-barrier/#5364074b7ae7') 5 Tips For Millennials Trying To Break The Age Barrier
                li
                    | Forbes -
                    a(href='http://www.forbes.com/sites/jaredkleinert/2015/11/08/how-to-grow-a-following-on-youtube-from-an-entrepreneur-who-tripled-his-subscribers-in-2015/#3ee356195700') How To Grow A Following On YouTube 
                li
                    | Huffington Post -
                    a(href='http://www.huffingtonpost.com/tayo-rockson/disrupting-creative-servi_b_9154918.html') Disrupting Creative Services for Good With Roberto Blake
                li
                    | Adobe -
                    a(href='https://blogs.adobe.com/creativecloud/creating-for-creatives/') Creating for Creatives
                li
                    | Adobe -
                    a(href='https://blogs.adobe.com/creativecloud/adobe-comp-cc-design-with-roberto-blake-and-ipad/') Solve Common Design Challenges with Roberto Blake, Amtrak, and an iPad
                li
                    | Blueline Magazine by Domtar -
                    a(href='http://domtarblueline.com/2016/11/adobe-max-wrap-community-inspires-creativity/') Adobe MAX Wrap-up: Community Inspires Creativity

            h2 Roberto Blake | Keynote Speaker Reel
            .youtube-video-16-by-9
                iframe(
                    width="100%" 
                    height="100%" 
                    src="https://www.youtube.com/embed/14xWRBRtIh8" 
                    frameborder="0" 
                    allow="autoplay; encrypted-media" 
                    allowfullscreen
                )
            h2 Roberto Blake Interviews &amp; Features
            p During his career Roberto Blake has been interviewed by influencers like Chelsea Krost, Carlos Gil, Amy Schmittauer and Tayo Rockson, as well as featured in several publications including Forbes, Advanced Photoshop and Photoshop Creative Magazine.
            p If you'd like to schedule an interview with Roberto please reach out via email rblake@robertoblake.com or check his #[+link('https://calendly.com/robertoblake/30min', 'availability for a 30 minute interview', 'availability for a 30 minute interview')] or a #[+link('https://calendly.com/robertoblake/60min', '60 minute interview', '60 minute interview')] and set an appointment. Interviews are typically 30 minutes but 60 minute interviews are available.
            ul
                li
                    a(href='http://www.forbes.com/sites/jaredkleinert/2015/11/08/how-to-grow-a-following-on-youtube-from-an-entrepreneur-who-tripled-his-subscribers-in-2015/', title='Roberto Blake Interview with Jard Kleinert, How to Grow a Following on YouTube- Featured on Forbes', target='_blank')
                    | Interview with Jard Kleinert, How to Grow a Following on YouTube- Featured on Forbes
                li
                    a(href='http://www.huffingtonpost.com/tayo-rockson/disrupting-creative-servi_b_9154918.html')
                    | Interview with Tayo Rockson, Disrupting Creative Services for Good- Featured on Huffington Post
                li
                    a(href='https://www.spreaker.com/user/bertmartinez/celebrity-hypnotherapist-steve-g-jones-y', target='_blank') Interview with Bert Martinez- Money for Lunch
                li
                    a(href='http://chelseakrost.com/the-business-side-of-youtube-how-to-monetize-your-message-on-millennialtalk/', title='Roberto Blake Interview with Chelsea Krost, Millennial Talk- Monetizing Your Message with YouTube', target='_blank')
                    | Interview with Chelsea Krost, Millennial Talk- Monetizing Your Message with YouTube
                li
                    a(href='https://blab.im/saba-sedighi-social545-show-ep12-guest-roberto-blake', target='_blank')
                    | Interview with Saba Sedighi and Carlos Gil, Social 545- Growing Your YouTube Channel
                li
                    a(href='https://indesignsecrets.com/watch_listen/indesignsecrets-podcast-221', title='Roberto Blake Interview with Anne-Marie Concepcion, InDesign Secrets Podcast', target='_blank') Interview with Anne-Marie Concepción, InDesign Secrets Podcast
                li
                    a(href='#', title='Roberto Blake Interview with Amy Schmittauer, Social Authority Podcast', target='_blank')
                    | Interview with Amy Schmittauer, Social Authority Podcast- Talking Personal Branding
                li
                    a(href='http://hustleculturepodcast.libsyn.com/08-roberto-blake-monique', title='Roberto Blake Interview with Carlos Gil and Tayo Rockson, Hustle Culture Podcast- Talking Entrepreneurship', target='_blank')
                    | Interview with Carlos Gil and Tayo Rockson, Hustle Culture Podcast- Talking Entrepreneurship
                li
                    a(href='https://blab.im/amy-schmittauer-tmls-interview-with-roberto-blake-savvysexysocial-1', title='Roberto Blake Interview with Amy Schmittauer, The Marketing Lifestyle Show- Talking YouTube Growth Secrets', target='_blank')
                    | Interview with Amy Schmittauer, The Marketing Lifestyle Show- Talking YouTube Growth Secrets
                li
                    a(href='http://livestreamuniverse.com/livestreamstars-excel-at-video-marketing-in-16-w-robertoblake-irossbrand/', target='_blank') Interview with Ross Brand, Livestream Stars- Excel at Video Marketing
                li
                    a(href='http://www.designjuices.co.uk/2010/04/interview-roberto-blake-graphic-designer-and-digital-artist/', title='Roberto Blake Interview with Jared Thompson, Design Juices', target='_blank') Interview with Jared Thompson, Design Juices
            li
                a(href='https://www.youtube.com/watch?v=aAgvoE4Xb-0', title='Roberto Blake Interview with Evan Carmichael, Bulding Fulltime Income Around Awesome', target='_blank') Interview with Evan Carmichael, Building Full-time Income Around Awesome
        .side-bar


            h2 Contact Roberto
            ul
                li rblake@robertoblake.com
                li C: 518.406.8664 
                li skypeID: roberto.blake
                li 
                    a(
                        href="http://robertoblake.com/newsletter",
                        title="http://robertoblake.com/newsletter"
                    ) http://robertoblake.com/newsletter
                li 
                    a(
                        href="http://twitter.com/robertoblake",
                        title="http://twitter.com/robertoblake"
                    ) http://twitter.com/robertoblake
                li 
                    a(
                        href="http://youtube.com/robertoblake2",
                        title="http://youtube.com/robertoblake2"
                    ) http://youtube.com/robertoblake2
                li  
                    a(
                        href="http://facebook.com/robertoblake2",
                        title="http://facebook.com/robertoblake2"
                    ) http://facebook.com/robertoblake2
                li 
                    a(
                        href="http://linkedin.com/in/robertoblake",
                        title="http://linkedin.com/in/robertoblake"
                    ) http://linkedin.com/in/robertoblake
        .content
            h2 What People Are Saying About Roberto...
            .two-column
                .column
                    p
                        em "There are many influencers and experts in the digital space but Roberto Blake truly does stand out from the rest. Roberto is incredibly dedicated to his craft and is persistent in creating relatable and useful content for his followers. Not only is Roberto great at what he does, he is very generous at giving his time sharing insight with his community."
                    p
                        strong Chelsea Krost Co-founder MPulse

                .column
                    p
                        em "He has a real passion for creative entrepreneurship and empowering others, and the community he’s built around his creative philosophy is a reflection of his commitment to his following." 

                    p
                        strong Jared Kleinert-Forbes