doctype html
html
    block awesome-config
    head
        title=title
        meta(name="description", content="description")
        meta(name="robots", content="noindex")
        meta(
            name="viewport", 
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        )
        link(
            rel="canonical", 
            href="http://robertoblake.com/"
        )
        link(
            rel="stylesheet",
            href="style.css"
        )

    body
        include ../header/header
        block awesome-content
        include ../footer/footer
