.footer
    .footer__social
        //- pre=JSON.stringify(data.footer, null, 2)
        ul
            each social, key in data.footer
                li.social__item
                    a.social__icon(
                        href=social.href, 
                        title=social.label
                        )
                    p.footer__description=social.description

    p Copyright &copy; #{new Date().getFullYear()} · All Rights Reserved 
    p
        a.footer__link(href="/") Roberto Blake