extends _component/layout/layout
block awesome-config
    -
        let title = `Roberto Blake replica`
        let description = `This will be an improved version of Roberto Blake's site`
block awesome-content
    include _component/mixin/link
    .header__wrapper
        h1 Entrepreneur, Author & Speaker
        .header__panel
            .header__body--home
            .header__footer
                h2 Download My Free E-book on Personal Branding!
                a.header__download(
                    href="join-newsletter.php",
                    title="Download Free Personal Branding Ebook"
                    ) Download

    .landing__content
        h2 MEET ROBERTO BLAKE
        p Roberto Blake is a Creative Entrepreneur helping businesses, brands and individuals market themselves effectively with engaging visuals and effective messages.
        p Roberto has over 10 years of experience commercially in #[strong design] and #[strong marketing] and has helped brands, both large and small achieve their goals and reach their audiences.
        p His work has been recognized by #[+link('http://www.forbes.com/sites/markfidelman/2016/09/06/20-must-watch-youtube-channels-that-will-change-your-business/', 'Forbes', 'Forbes')], #[+link('http://www.huffingtonpost.com/tayo-rockson/disrupting-creative-servi_b_9154918.html', 'Huffington Post', 'Huffington Post')], #[+link('https://blogs.adobe.com/creativecloud/tag/roberto-blake/', 'Adobe', 'Adobe')] and #[+link('http://www.photoshopcreative.co.uk/image/47806/feel_the_noise', 'Photoshop Creative Magazines', 'Photoshop Creative Magazines')]. 
        p He is a #[strong HOW Design Live Speaker] and contributor to several publications.

        hr
        
        .youtube-video-16-by-p
            iframe(
                width="100%"
                height="100%" 
                src="https://www.youtube.com/embed/dxAhKLg87Gs" 
                frameborder="0" 
                allow="autoplay; encrypted-media"
                allowfullscreen
                )
        
        .text-justify    
            p Creative Entrepreneurship is something that I'm very passionate about. In the new economy the ability to create and connect is presenting new opportunties and I want to help educate people to find their place in these new markets and make the most of their potential.
            p In addition to developing a strong personal brand through my work as an online educator and speaker, and founded Awesome Creator Academy to work one on one with other entrepreneurs and influencers to help the navigate brand building and business.
            p 
                em "Creating something meaningful validates all that we do, because it allows us to throw everything we have at turning a thought into a thing."
            
            hr
            h2 What People Are Saying About Roberto...
            p 
                em "There are many influencers and experts in the digital space but Roberto Blake truly does stand out from the rest. Roberto is incredibly dedicated to his craft and is persistent in creating relatable and useful content for his followers. Not only is Roberto great at what he does, he is very generous at giving his time sharing insight with his community."
                strong Chelsea Krost Co-founder MPulse
            p
                em "He has a real passion for creative entrepreneurship and empowering others, and the community he’s built around his creative philosophy is a reflection of his commitment to his following."
                strong  Jared Kleinert-Forbes